section {
    margin-top: 2rem;
}

form {
    display: flex;
    /* border: red 1px solid; */
}

input[type=text] {
    width: 25rem;
    padding-left: 0.5rem;
    border: 1px solid #4D4D4D;
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem ;
}

input[type=text]:hover {
    box-shadow: 0 0 2rem #c9c9c9;
}

button {
    padding: 0.5rem;
    border: 1px solid #4D4D4D;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
}

button:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}